.valores {
background: url(../img/Rectangle\ 38.svg);
background-blend-mode: hard-light, normal;
width: 100%;
height: 935px;
background-size: cover;
}

.valores__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 37px;
    padding-top: 87px;
}

.missaoVisao {
    width: 442px;
height: 468px;
flex-shrink: 0;
border-radius: 12px;
background: linear-gradient(91deg, rgba(255, 255, 255, 0.98) 0.27%, rgba(255, 255, 255, 0.29) 98.45%);
backdrop-filter: blur(7.5px);
display: flex;
flex-direction: column;
gap: 28px;
}

.valores_div {
width: 442px;
height: 567px;
flex-shrink: 0;
border-radius: 12px;
background: linear-gradient(91deg, rgba(255, 255, 255, 0.98) 0.27%, rgba(255, 255, 255, 0.29) 98.45%);
backdrop-filter: blur(7.5px);
display: flex;
flex-direction: column;
gap: 28px;
}

.div_title{
    color: #1F1B36;
font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 108.5%;
text-transform: uppercase;
text-align: center;
}

.iconesValores {
    padding-top: 30px;
    max-width: 206px;
    align-self: center;
}

.div_p {
    padding: 0px 31px;
}

.video {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 150px;
    height: 400px;
    width: 100%;
}


iframe {
    border-radius: 10px;
    width: 40%;
}


@media only screen and (max-width: 1200px) {
    .valores__container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        align-self: center;
        width: 80%;
    }
    .valores {
        height: 2000px;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .missaoVisao {
        width: 90%;
    }

    .valores_div {
        width: 90%;
    }


}

@media only screen 
   and (max-width : 768px) {
    .valores {
        height: 1900px;
    }

    .videoPlayer {
        width: 80%;
    }
   }

   @media only screen 
   and (max-width : 480px) {
    .valores {
        height: 2000px;
    }
    .valores__container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .valores {
        max-width: 100%;
        height: 2000px;
    }

    .missaoVisao {
        width: 90%;
    }

    .valores_div {
        width: 90%;
        height: 700px;
    }

    .videoPlayer {
        width: 80%;
    }
   } 
