.comoFunciona {
    height: 823px;
    background-image: url(../img//Rectangle\ 38.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.comoFuncionaTitle {
    padding: 5%;
    font-weight: 800;
    font-size: 3rem;
    color: var(--bold-color);
}

.highlighth3 {
    background-image: url(../img/Vector\ 3.svg);
    background-repeat: no-repeat;
}

.cardsFunciona {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.comoFuncionaCards {
    display: flex;
    flex-direction: column;
    gap: 8%;
    align-items: center;
    width: 500px;
    height: 258px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.94) 0%, rgba(250, 250, 250, 0.47) 100%);
    border-radius: 8px;
    padding: 5%;
}

.comoFuncionaDescTitle {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--bold-color);
    margin-bottom: 13px;
    text-align: center;
    line-height: 1.31rem;
}

.comoFuncionaDesc {
    font-size: 1rem;
}

.imgFunciona {
    position: absolute;
}

.comoFuncionaDescButton {
    width: 250px;
    padding: 20px 36px;
    background-color: var(--font-color);
    color: var(--white);
    font-weight: 700;
    font-size: 1.12rem;
    border-radius: 8px;
    margin-top: 46px;
    margin-bottom: 91px;
    text-align: center;
    line-height: 18px;
}

.alunosImg {
    right: 73%;
    top: 40%;
}

.trabalhadorImg {
    left: 73%;
    top: 40%;
}