.comoFunciona {
    height: 823px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #F8F8FF;
}

.comoFuncionaTitle {
    padding: 5%;
    font-weight: 800;
    font-size: 3rem;
    color: var(--bold-color);
}

.highlighth3 {
    background-image: url(../img/Vector\ 3.svg);
    background-repeat: no-repeat;
}

.cardsFunciona {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.comoFuncionaCards {
    display: flex;
    flex-direction: column;
    gap: 8%;
    align-items: center;
    width: 500px;
    height: 258px;
    background: rgba(221, 219, 219, 0.247);
    backdrop-filter: blur(7.5px);
    border-radius: 8px;
    padding: 5%;
}

.comoFuncionaDescTitle {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--bold-color);
    margin-bottom: 13px;
    text-align: center;
    line-height: 1.31rem;
}

.comoFuncionaDesc {
    font-size: 1rem;
}

.imgFunciona {
    position: absolute;
}

.comoFuncionaDescButton {
    width: 250px;
    padding: 20px 36px;
    background-color: var(--font-color);
    color: var(--white);
    font-weight: 700;
    font-size: 1.12rem;
    border-radius: 8px;
    margin-top: 46px;
    margin-bottom: 91px;
    text-align: center;
    line-height: 18px;
}

.alunosImg {
    right: 73%;
    top: 40%;
}

.trabalhadorImg {
    left: 73%;
    top: 40%;
}

@media only screen and (max-width : 1770px) {
    .alunosImg {
        right: 77%;
        top: 40%;
    }
    
    .trabalhadorImg {
        left: 80%;
        top: 40%;
    }
}

@media only screen and (max-width : 1530px) {
    .alunosImg {
    display: 
    none;
    }
    
    .trabalhadorImg {
        display: 
        none;
    }
}

@media only screen 
   and (max-width : 1200px) {
    .cardsFunciona {
        flex-direction: column;
    }
}

@media only screen 
   and (max-width : 768px) {
    .comoFunciona {
        max-width: 100%;
        height: 850px;
    }

    .cardsFunciona {
        max-width: 100%;
    }

    .comoFuncionaCards {
        max-width: 60%;
        align-self: center;
        height: 280px;
    }
}

@media only screen 
   and (max-width : 480px) {
    .comoFuncionaTitle {
        text-align: center;
    }
    .comoFunciona {
        max-width: 480px;
        width: 100%;
    }

    .comoFuncionaCards {
        max-width: 80%;
        align-self: center;
        height: 280px;
    }

    .comoFuncionaDescButton {
        width: 80%;
        font-size: 0.9rem;
    }
}